<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Crime Heatmap Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    <button id="navigateBack" onclick="window.location.href='/'">Back to Main Map</button>

    <!-- Single row section for all visuals -->
    <div class="horizontal-section">
        <div id="heatmap"></div>
    </div>

    <script src="/static/js/app_hm.js"></script>
</body>
</html>
